@model List< ADHOM_Store.Models.Category>





<br />
<!-- Carousel wrapper -->
<div class="row">
    <section id="services" class="services section-bg">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="section-title">
                <h2 class="alert alert-warning"> Categories</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row" >
                <br />
                @foreach (var item in Model)
                {
                    <br />

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-dribbble"></i></div>
                            <h4><a href="/Home/product/@item.Id">@item.Name</a></h4>
                            <p style="min-width:220px; font-size:16px;" class="bs-light">@item.Description</p>
                        </div>
                    </div>
                }

            </div>

        </div>
    </section>
</div>

